.Feed{
    border: 1px solid;
    background: transparent;

}

.share{
    border: 3px solid;  
    display:flex;
    align-items: center; 
}

ul{
    border: 1px solid green;
    height: fit-content; 
    display: flex; 
}

.shareItems{
    position:relative;
}
.shareprofilePic{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    margin:10px;
}
ul > button{
position:absolute;
right:0;
}