.Sharecontainer{
    width: 200px; 
    height: 140px;
    border: 2px dotted salmon;
    margin:30px;
    padding-bottom: 30px;

}

.share{

    height: 70px;
    display:flex;
    align-items: center; 
}

.shareItems{
    height: 100px;
    display:flex;
    align-items: center;
}
.shareProfilePic{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    margin:10px;
}
.shareBtn{
    background: greenyellow ;
}