body
{
    background-color: #fff;
    height: 100vh;
    overflow: scroll;
}
.topBarContainer{
    z-index: 1;
}

.bodyContainer
{
    display: flex;
}

.leftBarContainer
{
    flex:2;
    overflow: scroll;
    height: 100vh;
}

.feedContainer
{
    flex:5;
}

.rightBarContainer
{
    flex : 3;
}

.example::-webkit-scrollbar 
{
    display: none;
}
  
ul
{
    list-style: none ;
}

.leftBarHr
{
    width: 80%;
    align-self: center;
    margin:10px;
}

.leftBarBtn
{
    margin-left: calc(50% - 100px);
}
