.rightBarContainer
{
    margin-top: 20px;
}
.rightBarUpdates
{
    display: flex;
    align-items: center;
}
.rightBarUpdatesImg
{
    width: 55px;
    height: 55px;
}
.rightBarUpdatesText
{
    width: 65%;
    margin-left: 10px;
    padding-top: 1%;
}
.rightBatAd
{   
    margin-top: 20px;
    width: 93%;
    height: 230px;
    margin-bottom: 30px;

}
.rightBarAdImg
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.rightBaronlineFreindsTitle
{
    font-weight: 700;
    font-size: larger;
}
.rightBarOnlineFriendsList
{
    display: flex;
    align-items: center;
}
.rightBarOnlineFriendsImg
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.rightBarOnlineFriendsImgWrapper
{
    position: relative;
}
.rightBarOnlineFriendsImgWrapper::before
{
    content: '';
    width: 8px;
    height: 8px;
    background:rgb(80, 201, 80);
    border-radius: 50%;
    border: 1px solid wheat;
    position: absolute;
    right:6px;
    top: 8px;
}
.rightBarOnlineFriendsName
{
    margin-left: 10px;
    font-weight:700;
}




